.text_wrapper,
.underline {
    color: var(--muted-text);
    font-size: 12px;

    &:hover {
        color: var(--background-link-hover) !important;
        cursor: pointer;
    }


}

.underline:hover {
    text-decoration: underline;
}