.contribute_settings:hover {
    background: lightblue;
    cursor: pointer;
}

.calendar_board {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 5px 40px 5px 0;
    line-height: 2.5ex;
    height: 15.5ex;
    overflow: hidden;

    .calendar_cell:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.active_btn,
.year_btn {
    background: #0366d6;
    padding: 10px 70px 10px 20px;
    color: white;
    border-radius: 6px;

    &:hover {
        cursor: pointer;
    }
}

.year_btn {
    color: gray;
    background: none;

    &:hover {
        background: #f8f2f2;
    }
}