.main_notification_wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.hidden_element {
    display: none;
}

.element {
    &:hover {
        &+.hidden_element {
            display: block !important;
        }
    }
}