.hover:hover {
    cursor: pointer;

    svg {

        fill: var(--background-link-hover) !important;
    }

    span {


        color: var(--background-link-hover) !important;

        &.text_hover:hover {
            text-decoration: underline;
        }
    }
}